<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4">
  <div class="col-span-1">

    <!------------------------------------------------------------------->
    <!------------------------- section profile ------------------------->
    <!------------------------------------------------------------------->

    <div class="flex flex-col gap-4 lg:sticky lg:top-5">

      <div
        class=" bg-white rounded-lg border border-gray-200 shadow-md overflow-hidden">
        <img class="rounded-t-lg w-full select-none" draggable="false" src="/assets/img/1.jpg"
             alt="programmer"/>

        <div class="relative w-[9rem] lg:w-[7rem]">
          <img
            class="absolute top-[-100px] lg:top-[-70px] left-[35px]  rounded-xl ring-2 ring-white outline-2 outline-gray-400"
            draggable="false" src="/assets/img/profile.jpeg" alt="غلامرضا فداکار">
        </div>

        <div class="p-5 pt-12 flex flex-col gap-2 px-8">
          <h5 class=" text-2xl tracking-tight text-gray-800 dark:text-white">Gholamreza Fadakar</h5>
          <p class=" font-normal text-gray-500 dark:text-gray-400">Fullstack Senior Developer</p>
        </div>
        <div class="flex flex-col px-8 pt-2 pb-5">
          <a
            class="w-full text-center focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5  hover:cursor-pointer transition-all ease-in-out">
            Download CV PDF
          </a>
        </div>


      </div>

      <!------------------------------------------------------------------->
      <!----------------------- section Information ----------------------->
      <!------------------------------------------------------------------->

      <app-card>
        <div title>Information</div>

        <div class="flex justify-between">
          <div class="text-gray-400">Location</div>
          <div class="text-gray-700">Iran,Tehran</div>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Experience</div>
          <div class="text-gray-700">+11 year</div>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Birthday</div>
          <div class="text-gray-700">1994</div>
        </div>

      </app-card>



      <!------------------------------------------------------------------->
      <!----------------------- section Contact Me ------------------------>
      <!------------------------------------------------------------------->
      <app-card>
        <div title>Contact Me</div>

        <div class="flex justify-between">
          <div class="text-gray-400">Phone</div>
          <a class="text-gray-700" target="_blank"
             href="tel:+989190074754">+989190074754</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Email</div>
          <a class="text-gray-700" target="_blank"
             href="mailto:fadakargholamreza@gmail.com">fadakargholamreza@gmail.com</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Personal Website</div>
          <a class="text-gray-700" target="_blank" href="https://fdkr.ir">https://fdkr.ir</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Github</div>
          <a class="text-gray-700" target="_blank" href="https://www.github.com/fadakar">Visit Github</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Linkedin</div>
          <a class="text-gray-700" target="_blank" href="https://ir.linkedin.com/in/gholamreza-fadakar-759300b1">Visit
            Linkedin</a>
        </div>

      </app-card>

    </div>

  </div>

  <div class="col-span-2 flex flex-col gap-4 mt-4 lg:mt-0">

    <!------------------------------------------------------------------->
    <!----------------------- section About Me -------------------------->
    <!------------------------------------------------------------------->
    <app-card>
      <div title>About Me</div>
      <p class="text-gray-500 text-sm leading-7 px-2">
        I started programming in 2009 at the age of 17, I started programming in VB6 language and after that I
        started working with
        C++ and entered the world of OOP I started working with PHP in 2013 and after that, I got to know the
        CodeIgniter framework.
        I have been working with it for a year, I am currently expanding my programs with Laravel and I have been
        with it since
        version 4.2, and I have created programs in the fields of accounting, warehousing, and customer management.
        I am very
        interested in learning and teaching, during the week I use my free time to learn, exercise and play.
      </p>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section Client Side ----------------------->
    <!------------------------------------------------------------------->
    <app-card>
      <div title>Client Side</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of clientSideSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section Server Side ----------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Server Side</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of serverSideSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!--------------- section Development & Operations ------------------>
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Development & Operations</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of developmentAndOperationsSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section Familiar With ---------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Familiar With</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of familiarSkills">
          <div class="text-gray-500 text-sm">{{ skill.name }}</div>
        </div>
      </div>
    </app-card>


    <!------------------------------------------------------------------->
    <!----------------------- section Education ------------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Education</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2 px-2">
        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Associate in Computer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Branch: Software</li>
              <li>Institute/University: Enghelab-e Eslami Technical College</li>
              <li>Location: Tehran, Iran</li>
              <li>GPA : 17/20</li>
            </ul>
          </div>

        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Diploma in Computer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Branch: Software</li>
              <li>Institute/School: Shahid Ghasemi Conservatory</li>
              <li>Location: Tehran, Iran</li>
              <li>GPA : 18/20</li>
            </ul>
          </div>

        </div>
      </div>
    </app-card>


    <!------------------------------------------------------------------->
    <!----------------------- section Experience ------------------------>
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Experience</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2 px-2">

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">FullStack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Hamyar Sanat Co</li>
              <li>Position: Senior FullStack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2020 - May 2022</li>
              <li>PHP, Laravel, Nginx, Mysql ,Rabbitmq</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">FullStack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Efadd Co</li>
              <li>Position: Senior FullStack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2017 - 2020</li>
              <li>PHP, Laravel, Nginx, Mysql, Typescript, Angular,Tailwind</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">FullStack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Selak Pardaz Co</li>
              <li>Position: Senior FullStack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>June 2017 - December 2017</li>
              <li>PHP, Laravel, Nginx, Mysql, Bootstrap, jquery</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">FullStack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Freelancer</li>
              <li>Position: Senior FullStack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2014 - 2017</li>
              <li>PHP, Laravel, Nginx, Mysql, Bootstrap, jquery</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Backend PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Nahal Nik Royesh CO</li>
              <li>Position: Senior FullStack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2013 - 2014</li>
              <li>PHP pure, Apache, Mysql, Bootstrap, jquery</li>
            </ul>
          </div>
        </div>


      </div>
    </app-card>


    <!------------------------------------------------------------------->
    <!----------------------- section certification --------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Certification</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mt-2 px-2">

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Linux Fundamentals And Basic Administration</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Institutions: Sematec Co</li>
              <li>Location: Tehran, Iran</li>
              <li>2022</li>
              <li>GPA : 95/100</li>
            </ul>
          </div>
          <div class="px-10">
            <a target="_blank" href="/assets/cert/lpic1.jpg">
              <img src="/assets/cert/lpic1.jpg" class="w-full" alt="Gholamreza Fadakar"/>
            </a>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Java Standard & Enterprise Edition</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Institutions: Laitec Co</li>
              <li>Location: Tehran, Iran</li>
              <li>2022</li>
              <li>GPA : 100/100</li>
            </ul>
          </div>
          <div class="px-10">
            <a target="_blank" href="/assets/cert/j2ee.jpg">
              <img src="/assets/cert/j2ee.jpg" class="w-full" alt="Gholamreza Fadakar"/>
            </a>
          </div>
        </div>

      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section languages ------------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Languages</div>
      <div class="flex flex-col gap-2">

        <div class="flex flex-col gap-2 px-2 mt-4">
          <div class="font-bold text-gray-500">Persian ( native )</div>
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 px-2">
            <app-elements-skill [name]="'reading'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'writing'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'speaking'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'listening'" [level]="Level.expert"></app-elements-skill>
          </div>
        </div>

        <div class="flex flex-col gap-2 px-2 mt-4">
          <div class="font-bold text-gray-500">English</div>
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 px-2">
            <app-elements-skill [name]="'reading'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'writing'" [level]="Level.advance"></app-elements-skill>
            <app-elements-skill [name]="'speaking'" [level]="Level.medium"></app-elements-skill>
            <app-elements-skill [name]="'listening'" [level]="Level.advance"></app-elements-skill>
          </div>
        </div>

      </div>
    </app-card>


    <div class="text-center">
      <a class="text-gray-400 text-sm" target="_blank" href="https://github.com/fadakar/fadakar.id.ir">
        Fork Template On Github
      </a>
    </div>
    <div class="mt-2 lg:mt-4"></div>
  </div>
</div>
