<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4" style="font-family: 'Open Sans'">
  <div class="col-span-1">

    <!------------------------------------------------------------------->
    <!------------------------- section profile ------------------------->
    <!------------------------------------------------------------------->

    <div class="flex flex-col gap-4 lg:sticky lg:top-5">

      <div
        class=" bg-white rounded-lg border border-gray-200 shadow-md overflow-hidden">
        <img class="print:hidden rounded-t-lg w-full select-none" draggable="false" src="/assets/img/1.jpg"
             alt="programmer"/>

        <div class="relative w-[7rem]">
          <img
            class="absolute top-[-70px] left-[35px] print:static print:ml-7 print:mt-7  rounded-xl ring-2 ring-white outline-2 outline-gray-400"
            draggable="false" src="/assets/img/profile.jpeg" alt="غلامرضا فداکار">
        </div>

        <div class="p-5 pt-12 flex flex-col gap-2 px-8">
          <h5 class=" text-xl tracking-tight text-gray-800 dark:text-white">Gholamreza Fadakar</h5>
          <p class="pl-1 text-md text-gray-500 dark:text-gray-400">Full Stack Senior Developer</p>
        </div>
        <div class="flex flex-col px-8 pt-2 pb-5 print:hidden">
          <a
            target="_blank"
            href="/assets/pdf/gholamreza-fadakar-resume.pdf"
            class="w-full text-center focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5  hover:cursor-pointer transition-all ease-in-out">
            Download PDF
          </a>
        </div>


      </div>

      <!------------------------------------------------------------------->
      <!----------------------- section Information ----------------------->
      <!------------------------------------------------------------------->

      <app-card>
        <div title>Information</div>

        <div class="flex flex-col gap-2">
          <div class="flex justify-between">
            <div class="text-gray-400">Location</div>
            <div class="text-gray-700">Iran,Tehran</div>
          </div>

          <div class="flex justify-between">
            <div class="text-gray-400">Experience</div>
            <div class="text-gray-700">+11 year</div>
          </div>

          <div class="flex justify-between">
            <div class="text-gray-400">Birthday</div>
            <div class="text-gray-700">1994</div>
          </div>
        </div>


      </app-card>


      <!------------------------------------------------------------------->
      <!----------------------- section Contact Me ------------------------>
      <!------------------------------------------------------------------->
      <app-card>
        <div title>Contact Me</div>

        <div class="flex flex-col gap-2">

          <div class="flex justify-between">
            <div class="text-gray-400">Phone</div>
            <a class="text-gray-700" target="_blank"
               href="tel:+989190074754">+989190074754</a>
          </div>

          <div class="flex justify-between">
            <div class="text-gray-400">Email</div>
            <a class="text-gray-700" target="_blank"
               href="mailto:fadakargholamreza@gmail.com">fadakargholamreza@gmail.com</a>
          </div>

          <div class="flex justify-between">
            <div class="text-gray-400">Personal Website</div>
            <a class="text-gray-700" target="_blank" href="https://fdkr.ir">https://fdkr.ir</a>
          </div>

          <div class="flex justify-between">
            <div class="text-gray-400">Github</div>
            <a class="text-gray-700" target="_blank" href="https://www.github.com/fadakar">Visit Github</a>
          </div>

          <div class="flex justify-between">
            <div class="text-gray-400">Linkedin</div>
            <a class="text-gray-700" target="_blank" href="https://ir.linkedin.com/in/gholamreza-fadakar-759300b1">Visit
              Linkedin</a>
          </div>
        </div>

      </app-card>

    </div>

  </div>

  <div class="col-span-2 flex flex-col gap-4 mt-4 lg:mt-0">

    <!------------------------------------------------------------------->
    <!----------------------- section Summery  -------------------------->
    <!------------------------------------------------------------------->
    <app-card>
      <div title>Summary</div>
      <p class="text-gray-500 text-sm leading-7 px-2">
        Passionate full-stack engineer with 11+ years of hands-on experience in developing scalable
        websites/applications using a wide range of front-end and back-end skills like HTML, CSS, Javascript, PHP,
        MySQL, laravel framework, angular framework, etc.
        <br/>
        I developed 30+ websites/applications from scratch in the areas of financial, accounting, treasury, customer
        relationship management, and warehouse management.
        <br/>
        I am interested in knowledge sharing, exercising, and game playing.
      </p>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section Client Side ----------------------->
    <!------------------------------------------------------------------->
    <app-card>
      <div title>Client Side</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of clientSideSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section Server Side ----------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Server Side</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of serverSideSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!--------------- section Development & Operations ------------------>
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Development & Operations</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of developmentAndOperationsSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section Familiar With ---------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Familiar With</div>
      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of familiarSkills">
          <div class="text-gray-500 text-sm">{{ skill.name }}</div>
        </div>
      </div>
    </app-card>


    <!------------------------------------------------------------------->
    <!----------------------- section Education ------------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Education</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2 px-2">
        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Associate in Computer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Branch: Software</li>
              <li>University: Enghelab-e Eslami Technical College</li>
              <li>Location: Tehran, Iran</li>
              <li>GPA : 17/20</li>
            </ul>
          </div>

        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Diploma in Computer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Branch: Software</li>
              <li>School: Shahid Ghasemi Conservatory</li>
              <li>Location: Tehran, Iran</li>
              <li>GPA : 18/20</li>
            </ul>
          </div>

        </div>
      </div>
    </app-card>


    <!------------------------------------------------------------------->
    <!----------------------- section Experience ------------------------>
    <!------------------------------------------------------------------->

    <app-card class="print:mt-16">
      <div title>Experience</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2 px-2">

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Full Stack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Hamyar Sanat Co</li>
              <li>Position: Senior Full Stack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2020 - May 2022</li>
              <li>PHP, Laravel, Nginx, Mysql ,Rabbitmq</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Full Stack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Efadd Co</li>
              <li>Position: Senior Full Stack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2017 - 2020</li>
              <li>PHP, Laravel, Nginx, Mysql, Typescript, Angular, Tailwind</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Full Stack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Selak Pardaz Co</li>
              <li>Position: Mid-Level Full Stack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>June 2017 - December 2017</li>
              <li>PHP, Laravel, Nginx, Mysql, Bootstrap, jquery</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Full Stack PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Freelancer</li>
              <li>Position: Mid-Level Full Stack PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2014 - 2017</li>
              <li>PHP, Laravel, Nginx, Mysql, Bootstrap, jquery</li>
            </ul>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Backend PHP Developer</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Company: Nahal Nik Royesh CO</li>
              <li>Position: Junior Backend PHP Developer</li>
              <li>Location: Tehran, Iran</li>
              <li>2013 - 2014</li>
              <li>PHP pure, Apache, Mysql, Bootstrap, jquery</li>
            </ul>
          </div>
        </div>


      </div>
    </app-card>


    <!------------------------------------------------------------------->
    <!----------------------- section certification --------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Certification</div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-2 px-2">

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Linux Fundamentals And Basic Administration</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Institutions: Sematec Co</li>
              <li>Location: Tehran, Iran</li>
              <li>2022</li>
              <li>GPA : 95/100</li>
            </ul>
          </div>
          <div class="px-10">
            <a target="_blank" href="/assets/cert/lpic1.jpg">
              <img src="/assets/cert/lpic1.jpg" class="w-full" alt="Gholamreza Fadakar"/>
            </a>
          </div>
        </div>

        <div class="flex flex-col gap-2">
          <div class="font-bold text-gray-500">Java Standard & Enterprise Edition</div>
          <div class="ml-10">
            <ul class="list-disc text-gray-500 text-sm">
              <li>Institutions: Laitec Co</li>
              <li>Location: Tehran, Iran</li>
              <li>2022</li>
              <li>GPA : 100/100</li>
            </ul>
          </div>
          <div class="px-10">
            <a target="_blank" href="/assets/cert/j2ee.jpg">
              <img src="/assets/cert/j2ee.jpg" class="w-full" alt="Gholamreza Fadakar"/>
            </a>
          </div>
        </div>

      </div>
    </app-card>

    <!------------------------------------------------------------------->
    <!----------------------- section languages ------------------------->
    <!------------------------------------------------------------------->

    <app-card>
      <div title>Languages</div>
      <div class="flex flex-col gap-2">

        <div class="flex flex-col gap-2 px-2 mt-4">
          <div class="font-bold text-gray-500">Persian - Native</div>
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 px-2">
            <app-elements-skill [name]="'reading'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'writing'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'speaking'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'listening'" [level]="Level.expert"></app-elements-skill>
          </div>
        </div>

        <div class="flex flex-col gap-2 px-2 mt-4">
          <div class="font-bold text-gray-500">English</div>
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 px-2">
            <app-elements-skill [name]="'reading'" [level]="Level.expert"></app-elements-skill>
            <app-elements-skill [name]="'writing'" [level]="Level.advance"></app-elements-skill>
            <app-elements-skill [name]="'speaking'" [level]="Level.medium"></app-elements-skill>
            <app-elements-skill [name]="'listening'" [level]="Level.advance"></app-elements-skill>
          </div>
        </div>

      </div>
    </app-card>


    <div class="text-center print:hidden">
      <a class="text-gray-400 text-sm" target="_blank" href="https://github.com/fadakar/fadakar.id.ir">
        Fork Template On Github
      </a>
    </div>
    <div class="mt-2 lg:mt-0 print:hidden"></div>
  </div>
</div>
