<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-4">
  <div class="col-span-1 flex flex-col gap-4">

    <div
      class=" bg-white rounded-lg border border-gray-200 shadow-md overflow-hidden">
      <img class="rounded-t-lg w-full select-none hidden md:block" draggable="false" src="/assets/img/1.jpg"
           alt="programmer"/>
      <img class="rounded-t-lg w-full select-none md:hidden" draggable="false" src="/assets/img/profile.jpeg"
           alt="غلامرضا فداکار"/>

      <div class="relative  w-[7rem] hidden md:block">
        <img class="absolute top-[-70px] left-[35px] rounded-xl ring-2 ring-white outline-2 outline-gray-400"
             draggable="false" src="/assets/img/profile.jpeg" alt="غلامرضا فداکار">
      </div>

      <div class="p-5 md:pt-12 flex flex-col gap-2">
        <h5 class=" text-2xl tracking-tight text-gray-800 dark:text-white">Gholamreza Fadakar</h5>
        <p class=" font-normal text-gray-500 dark:text-gray-400">Fullstack Senior Developer</p>
      </div>
      <div class="p-5 flex flex-col">
        <a
          class="w-full text-center focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5  hover:cursor-pointer">
          Download CV PDF
        </a>
      </div>


    </div>

    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Information</div>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Location</div>
          <div class="text-gray-700">Iran,Tehran</div>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Experience</div>
          <div class="text-gray-700">+11 year</div>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Birthday</div>
          <div class="text-gray-700">1994</div>
        </div>


      </div>
    </div>

    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Contact Me</div>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Phone</div>
          <a class="text-gray-700" target="_blank"
             href="tel:+989190074754">+989190074754</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Email</div>
          <a class="text-gray-700" target="_blank"
             href="mailto:fadakargholamreza@gmail.com">Fadakargholamreza@gmail.com</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Github</div>
          <a class="text-gray-700" target="_blank" href="https://www.github.com/fadakar">Visit Github</a>
        </div>

        <div class="flex justify-between">
          <div class="text-gray-400">Linkedin</div>
          <a class="text-gray-700" target="_blank" href="https://ir.linkedin.com/in/gholamreza-fadakar-759300b1">Visit
            Linkedin</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-2 flex flex-col gap-4 mt-4 lg:mt-0">
    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-4">
          <div class="text-gray-700 font-bold">About Me</div>
          <p class="text-gray-500 leading-7 px-2">
            I started programming in 2009 at the age of 17, I started programming in VB6 language and after that I
            started working with
            C++ and entered the world of OOP I started working with PHP in 2013 and after that, I got to know the
            CodeIgniter framework.
            I have been working with it for a year, I am currently expanding my programs with Laravel and I have been
            with it since
            version 4.2, and I have created programs in the fields of accounting, warehousing, and customer management.
            I am very
            interested in learning and teaching, during the week I use my free time to learn, exercise and play.
          </p>
        </div>
      </div>

    </div>

    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Client Side</div>
        </div>
      </div>

      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of clientSideSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>

    </div>

    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Server Side</div>
        </div>
      </div>

      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of serverSideSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>

    </div>


    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Development & Operations</div>
        </div>
      </div>

      <div class="mt-4 grid grid-cols-2 lg:grid-cols-3 gap-6 px-2">
        <div *ngFor="let skill of developmentAndOperationsSkill">
          <app-elements-skill [name]="skill.name" [level]="skill.level"></app-elements-skill>
        </div>
      </div>

    </div>

    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Education</div>
        </div>
      </div>

    </div>

    <div
      class="relative bg-white rounded-lg border border-gray-200 shadow-md p-4 ">

      <div class="flex flex-col gap-2">
        <div class="flex ">
          <div class="text-gray-700 font-bold">Experience</div>
        </div>
      </div>

    </div>


  </div>
</div>
