.level-beginner {
  padding: 2px 6px;
  background: #fbd664 !important;
  color: white;
}

.level-medium {
  padding: 2px 6px;
  background: #6494fb !important;
  color: white;
}

.level-advance {
  padding: 2px 6px;
  background: #d564fb !important;
  color: white;
}

.level-expert {
  padding: 2px 6px;
  background: #7fd35c !important;
  color: white;
}
